<div class="text-center mt-3">
  <h1>About</h1>
    <div>
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      さまざまなバリエーションをご用意しております。<br>
      また、全国へ発送可能ですのでいつでもどこでもご注文頂けます。<br>
      ぜひご注文ください。
    </div>
    <div class="background_image">
    <!--image-->
    </div>
</div>