<div class="container">
  <div class="row">
  <div class="col-2 p-2">
      <%= render "public/items/genre", genre: @genres %>
    </div>
  
      <div class="top-comment mt-5 border border-dark">
        <p class="text" style="text-align:center;">
          ようこそ、ながのcakeへ</br>
          このサイトはケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </p>
      </div>
  </div>
</div>